<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (lang="en" ) { %>
            Reject The Store Addition Request At Ubuyblues
            <% } else if (lang="ar" ) %>
    </title>

</head>

<body style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
    <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
        <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.jpg" alt="Ubuyblues Image"
            style="width: 100px; height: 100px;">
    </section>
    <section class="content"
        style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
        <h2 style="text-align: center;">Reject The Store Addition Request At Ubuyblues</h2>
        <h3>Dear <span style="font-weight: bold; color: #6A017A">
                <%= firstName %>
            </span>,</h3>
        <p>
            Ahmed, welcome to the Ubuyblues website!
        </p>
        <p>
            We are delighted to have you join us and would like to welcome you to our online store community. As a new
            subscriber, you will have the opportunity to explore a wide variety of products at excellent prices.</p>
        <p>
            We also invite you to take advantage of the exclusive offers and discounts available on our website. Don't
            miss the opportunity to browse our products and explore everything we have to offer.</p>
        <p>
            Thank you for trusting us, and we look forward to serving you always.</p>
        <h4>Best regards,</h4>
        <h4 style="line-height: 0; color: #6A017A;">The Ubuyblues Team</h4>
    </section>
</body>

</html>