<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (lang="en" ) { %>
            Accept The Store Addition Request At Ubuyblues
            <% } else if (lang="ar" ) %>
    </title>

</head>

<body style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
    <section class="begin" style="text-align: center; color: #6A017A; margin-bottom: 20px;">
        <img src="https://api.ubuyblues.com/assets/images/stores/UbuyBlues_Logo_merged_Purple.jpg" alt="Ubuyblues Image"
            style="width: 100px; height: 100px;">
    </section>
    <section class="content"
        style="width: 80%; border: 1px solid #6A017A; margin: auto; padding: 20px; line-height: 2;">
        <h2 style="text-align: center;">Reject The Store Addition Request At Ubuyblues</h2>
        <h3>Dear <span style="font-weight: bold; color: #6A017A">Merchant</span>,</h3>
        <p>
            We regret to inform you that your merchant account application has not been approved at this time. We
            appreciate your interest in joining our site and wish you success in the future
        </p>
        <h4>Best regards,</h4>
        <h4 style="line-height: 0; color: #6A017A;">The Ubuyblues Team</h4>
    </section>
</body>

</html>